<nav>
  <div class="header mono">
	{% if page.url == "/" %}
      <h1 class="site-title"><a class="link-inactive" href="{{ '/' | relative_url }}">de<span style="color: yellow;">[v]</span>blog</a></h1>
	{% else %}
	  <h2 class="site-title"><a class="link-inactive" href="{{ '/' | relative_url }}">de<span style="color: yellow;">[v]</span>blog</a></h2>
	{% endif %}
    {% assign stripurl = page.url | remove: '.html' %}
    <ul>
      {% for item in site.data.navigation %}
        <a href="{{ item.link | relative_url }}"
          {% if item.ext %} target=_blank {% endif %}
          {% if item.name == page.title %} class="link-inactive" {% endif %}>{{ item.name }}</a>
      {% endfor %}
    </ul>
  </div>
</nav>
