---
layout: compress
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv='content-language' content='ko-kr'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% if page.url == "/" %}
        {{ site.title }}
      {% else %}
        {{ page.title | downcase }} - {{ site.title }}
      {% endif %}
    </title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/rouge.css' | relative_url }}">
    {% include scripts.html %}
  </head>
  <body>
    {% include navigation.html %}
    <div class="container">
    {% if page.url == "/" %}
      <div class="flex-container">
        <div class="left">
          {{ content }}
        </div>
        <div class="right">
          {% include rcol.html %}
        </div>
      </div>
      <h4 class="right mono">rss: <span class="yellow mono">{{ site.url }}{{ site.baseurl }}/feed.xml</span></h4>
      {% include poweredby.html %}
    {% else %}
      {{ content }}
    {% endif %}
  </div>    
  </body>
  {% if page.katex %}
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
  {% endif %}
</html>
