---
layout: default
---
{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

<h1 class="post-title">{{ page.title }} posts</h1>

{% if page.archive_link %}
<a class="noline" href="{{ './topics' | relative_url }}">[ view by topic ]</a>
<a class="noline" href="{{ './tags' | relative_url }}">[ view by tags ]</a>
{% endif %}

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
  {% if page.pagination.category %}
    {% for post in posts %}
      {% if post.categories contains page.pagination.category %}
      {% else %}
        {% assign post.except = true %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}

{% assign posttotal = 0 %}
{% for post in posts %}
  {% if page.title != 'life' and post.categories contains 'life' %}
    {% continue %}
  {% else %}
    {% if page.pagination.category %}
      {% if post.categories contains page.pagination.category %}
      {% else %}
        {% continue %}
      {% endif %}
    {% endif %}
  {% endif %}
  {% assign posttotal = posttotal | plus: 1 %}
{% endfor %}

{% if posttotal > 0 %}
<ul class="narrow">
  {% for post in posts %}
  {% if page.title != 'life' and post.categories contains 'life' %}
    {% continue %}
  {% else %}
    {% if page.pagination.category %}
      {% if post.categories contains page.pagination.category %}
      {% else %}
        {% continue %}
      {% endif %}
    {% endif %}
  {% endif %}
  <li>
    <h2><a class="noline mono" href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a></h2>
        <div class="subtext">{{ post.date | date: date_format }} |
        {% for cat in post.categories %}<span class="kinda-red">{{ cat }}{% if forloop.last %}{% else %}, {% endif %}</span>
        {% endfor %}</div>

    {{ post.excerpt | markdownify | strip_html | truncate: 160 }}
    <hr>
  </li>
  {% endfor %}
</ul>

{% include paginator.html %}

{% include poweredby.html %}
{% else %}
<div class="container" style="text-align: center;">
  <h2><strong>Posts not found :(</strong></h2>
  <p>The requested posts could not be found.</p>
</div>
{% endif %}
